@import url("../../index.css");

  .top-banner {
    text-align: center; 
    margin-bottom: 15px;
    padding: 1rem;
    background-color: #fae9f3;
    border-radius: 10px;
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.15);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;  
    
  }
  .welcome-message {
    font-family: "Great Vibes", cursive;
    font-size: 2rem; 
    color: #433d3d;
    text-align: center;
    margin: 0;
  }
  .special-message {
    font-family: "Great Vibes", cursive;
    font-size: 1.2rem; 
    color: #433d3d;
    text-align: center;
    margin: 0;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .fade-in {
    opacity: 0;                  /* Start invisible */
    animation: fadeIn 2s ease-out forwards;
    /* 
      '2s' = duration 
      'ease-out' = easing function 
      'forwards' = keeps final opacity after animation ends
    */
  }
  