
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

/* Ensure body takes up full viewport */
body {
  margin: 0;
  padding: 0;
  position: relative;
  overflow-x: hidden;
}

/* Create a pseudo-element for the blurred background */
body::before {
  content: "";
  position: fixed; /* Ensures it covers the viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('assets/tea-3.avif') center center / cover no-repeat;
  filter: blur(12px);  /* Adjust the blur radius as needed */
  z-index: -1;        /* Place behind your page content */
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: hsl(336, 92%, 90%);;
  }
  a:hover {
    color: #e8aadd;
  }
  button {
    background-color: none;
  }
}
html {
  scroll-behavior: smooth;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/poppins/v22/pxiGyp8kv8JHgFVrJJLufntAOvWDSHFF.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}